@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

.login-background {
  background-image: url('https://www.brandsynario.com/wp-content/uploads/2022/06/images.jpeg'); /* transparent overlay image */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(143, 142, 142, 0); /* dark overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-title {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #a65cd4, #ab1786);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 20px;
  padding: 30px 25px;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.login-box:hover {
  transform: scale(1.03);
}

h2 {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(45deg, hsl(295, 57%, 45%), #731ef3) !important;
}

.input-field {
  width: 100%;
  padding: 14px 18px;
  margin: 12px 0;
  border-radius: 12px;
  border: 1.5px solid #555;
  background-color: #424141;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.input-field:focus {
  outline: none;
  border-color: #64b5f6;
  box-shadow: 0 0 8px rgba(100, 181, 246, 0.5);
}

.login-btn {
  margin-top: 20px;
  padding: 14px 30px;
  background: linear-gradient(45deg, hsl(295, 57%, 45%), #731ef3);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: linear-gradient(45deg, #948fb9, #5b11cb);
  transform: translateY(-3px);
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
}

.credit-line {
  margin-top: 20px;
  font-size: 20px;
  color: #ece3e3;
  text-align: center;
}
